


* {
    box-sizing: border-box;
    /* border: solid 2px red; */
}

body {
    font-family: Acme;
    text-align: center;
    margin: 0;  
}

.name,
.main-header {
    background: #f7f5f5;
    margin: 0;
}

ul li {
    background-color: white;
    margin-bottom: 5px;
    margin-right: 40px;
    padding: 3% 0 3%;
    display: block;
    max-width: 1080px; 
}

.main-nav a {
    display: block;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}

a:hover {
    color: blue;
}

.main-header {
    padding-top: 25px;
    padding-bottom: 25px;
}

h3 {
    margin-top: 35px;
}

.titleport {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: none;
    padding-bottom: none;
}

.profile {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.thumbnail {
    width: 90%;
}

p {
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 40px;
}

.main-footer {
    background: #f7f5f5;
    padding-top: 10px;
    
}

#footer-p {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-weight: bold;
    margin-left: 12px;
}

#bottom-footer {
    border-top: solid 1px rgb(215, 227, 240);
    margin: 0% 5% 0; 
}

.footer-nav {
    display: none;
}

#backtotop {
    float: right;
    margin-right: 4%;
}

#footer-name {
    float: left;
    text-align: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ---- Media Queries ----- */

@media (min-width: 768px) {
    ul li {
        display: inline-block;
        background: none;
    }

    .profile {
        float: right;
        margin-right: 30px;
        margin-left: 60px;
    }

    #intro {
        font-size: 115%;
        text-align: left;
        margin-left: 40px;
        margin-bottom: 70px;
    }

    .description {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

   .col-1a {
        float: left;
        width: 50%;
          
   }
 
   .col-2a {
       float: right;
       width: 50%;
       
   }   

   #backtotop {
       display: none;
   }

  .footer-nav {
      display: block;
      float: right;
      padding-top: none;
      padding-bottom: none;
  }
}

@media (min-width: 1024px) {

    .name {
        float: left;
        margin-left: 40px;
        padding-top: 10px;
    }

    .main-nav {
       float: right;
    }

    .main-header {
        position: relative;
        padding-bottom: 145px;
    }

    #intro {
        float: left;
        padding-right: 50%;
        padding-top: 20px;
    }

    .profile {
       position: absolute;
       right: 0;
       top: 100px; 
       max-height: 300px;
       max-width: 424px;
       
    }

    .col-1b {
        float: left;
        width: 33.33%;
    }

    .col-2b {
        float: right;
        width: 33.33%;
    }

    .col-3b {
        float: right;
        width: 33.33%
    }

    .main-footer {
        position: relative;
        top: 70px;
    }

}
